html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: rgb(253, 241, 209);
}

body {
  padding: 1rem 2rem;
  background-color: rgb(255, 253, 247);
  width: 90%;
  margin: 2rem auto;
}

* {
  box-sizing: border-box;
}
